
<h1> regular sign in  </h1>  
<form action="/users/signin" method=POST>
  Your email:
  <input type="text" name="logemail" value="Jack.ma@abc.com">
  <br>  
  Your password:<br>
  <input type="text" name="logpassword"></input> 
  <br>
  <br>  
  <input type="submit" value="Submit">
</form> 

