<h1> regular sign up </h1>  
<form action="/users/signup" method=POST>
  Your email:
  <input type="text" name="email" value="Jack.ma@abc.com">
  <br>
  Your username:<br>
  <input type="text" name="username" value="">
  <br>
  Your password:<br>
  <input type="text" name="password"></input> 
  <br>
  Your password confirmation:<br>
  <input type="text" name="passwordConf"></input> 
  <br>
  <br>
  <input type="submit" value="Submit">
</form> 
