<h1> passport sign in  </h1>  
<form action="/google/login" method=POST>
  Your username:
  <input type="text" name="username" value="jack">
  <br>  
  Your password:<br>
  <input type="text" name="password"></input> 
  <br>  
  <input type="submit" value="Submit">
</form> 
